<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <title>FCMB Trade Management System Notification</title>
    <style type="text/css">
        a:link {
            color: #5D2684;
            font-weight: normal;
        }

        body, td, th {
            font-family: Corbel;
        }

        body {
            background-color: #FBFBFB;
        }
    </style>
</head>

<body>
<table border="0" width="650" cellspacing="0" cellpadding="0" align="center">
    <tbody>
    <tr>
        <td valign="top" bgcolor="#FEFEFE">
            <!--<table border="0" width="650" cellspacing="0" cellpadding="0" align="center">-->
                <!--<tbody>-->
                <!--<tr style="background-color: #ffffff;">-->
                    <!--<td style="vertical-align: top;" bgcolor="#FFFFFF"><img style="display: block;" src="-->
<!--http://image.fcmb.com/images/FcmbTradeNotification/TradeNot_3.jpg" alt="Start now!-->
<!--Setup a Standing Instruction." width="638" height="461" border="0" /></td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td style="vertical-align: top;">&nbsp;</td>-->
                <!--</tr>-->
                <!--</tbody>-->
            <!--</table>-->
            <table border="0" width="700" cellspacing="0" cellpadding="0" align="center">
                <tbody>
                <tr>
                    <td style="padding-bottom: 10px; font-family: Corbel; color: #666666; font-style: normal; font-weight: lighter;" valign="top" width="690">
                        <p><span style="color: #58595b; font-size: 20px; font-family: Corbel; line-height: 30px; margin-bottom: 25px;"><br /> </span></p>
                        <p>Dear <b>Trade Team</b>,
                        Find the details of the job below;</p>
                        <table border="0" width="100%" cellspacing="7" cellpadding="7">
                            <tbody>
                            <tr>
                                <td style="font-weight: bold;" bgcolor="#E8E0F5">Job Description:</td>
                                <td style="font-weight: bold;" bgcolor="#E6E6E6"><span th:text="${category}"/></td>
                            </tr>
                            <tr>
                                <td style="font-weight: bold;" bgcolor="#E8E0F5">Error Description:</td>
                                <td style="font-weight: bold;" bgcolor="#E6E6E6"><span th:text="${failure}"/></td>
                            </tr>
                            <tr>
                                <td style="font-weight: bold;" bgcolor="#E8E0F5">Date:</td>
                                <td style="font-weight: bold;" bgcolor="#E6E6E6"><span th:text="${date}"/></td>
                            </tr>
                            </tbody>


                        </table>
                        <p><br>
                            Thank you.</br></p>
                        <p>&nbsp;</p>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <!--<tr>-->
        <!--<td class="footer" valign="top">-->
            <!--<p><img style="display: block;" src="-->
<!--http://image.fcmb.com/images/FcmbTradeNotification/my-bank-bar.jpg" alt="" width="650" height="51" /></p>-->
        <!--</td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td class="footer" valign="top">-->
            <!--<table style="border-bottom: #dad9dc solid 1px;" border="0" width="100%" cellspacing="0" cellpadding="0">-->
                <!--<tbody>-->
                <!--<tr>-->
                    <!--<td valign="top" width="28%">&nbsp;</td>-->
                    <!--<td valign="top" width="50%">-->
                        <!--<a href="https://www.facebook.com/fcmbmybank"><img src="-->
<!--http://image.fcmb.com/images/FcmbTradeNotification/fb_nw_.png" alt="" width="52" height="52" border="0" /></a>-->
                        <!--<a href="https://twitter.com/myfcmb"><img src="http://image.fcmb.com/images/FcmbTradeNotification/twt_nw_.png" alt="" width="52" height="52" border="0" /></a>-->
                        <!--<a href="http://www.linkedin.com/company/first-city-monument-bank-ltd?trk=tyah"><img src="http://image.fcmb.com/images/FcmbTradeNotification/LkdIn_nw_.png" alt="" width="52" height="52" border="0" /></a>-->
                        <!--<a href="#"><img src="http://image.fcmb.com/images/FcmbTradeNotification/Ig_nw_.png" alt="" width="52" height="52" /></a>-->
                        <!--<a href="#"><img src="http://image.fcmb.com/images/FcmbTradeNotification/WA_nw_.png" alt="" width="52" height="52" /></a>-->
                    <!--</td>-->
                    <!--<td valign="top" width="22%">&nbsp;</td>-->
                <!--</tr>-->
                <!--</tbody>-->
            <!--</table>-->
        <!--</td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td class="footer" style="border-bottom: #dad9dc solid 1px;" valign="top">-->
            <!--<table border="0" width="574" cellspacing="0" cellpadding="0" align="center">-->
                <!--<tbody>-->
                <!--<tr>-->
                    <!--<td style="padding: 20px 0 20px 0; text-align: center; font-family: Corbel; font-size: larger; font-weight: lighter; font-style: normal;" valign="top" bgcolor="#FFFFFF"><span style="font-size: 10pt;"><span style="color: #9297a3;">If you have reason to suspect any unauthorised activity on your account<br style="font-family: Corbel;" /> please contact us by sending an email to</span><span style="font-family: Corbel; color: #ffb81c;">&nbsp;</span></span><span style="font-size: 10pt; color: #575756; font-family: Corbel;"><a style="color: #5e2186; text-decoration: underline; font-family: Corbel;" href="mailto:frauddesk@fcmb.com" target="_blank" rel="noopener">frauddesk@fcmb.com</a></span><br /> <br /> <span style="color: #9297a3;"><span style="font-size: 10pt;">For more information on our products and services, please call our 24/7 <br /> contact centre on</span></span> <span style="color: #5c068c;"> <span style="font-size: 10pt;"> 07003290000</span></span><span style="font-size: 10pt; color: #5c068c;"> or&nbsp;012798800</span> <span style="color: #9297a3;"> <span style="font-size: 10pt;">or chat with us via</span></span><span style="font-size: 10pt;"><br /> </span><span style="color: #5c068c;"> <span style="font-size: 10pt;">Whatsapp on (+234) 090 999 99814</span></span> <span style="color: #9297a3;"> <span style="font-size: 10pt;"> or</span></span> <span style="color: #5c068c;"> <span style="font-size: 10pt;">&nbsp;(+234) 090 999 99815.</span></span><span style="font-size: 10pt;"><span style="color: #efefef;"><br /> </span><span style="color: #9297a3;">Alternatively send an email to</span> </span> <span style="color: #5c068c; text-decoration: none; font-size: 10pt;"> <a style="color: #622387; text-decoration: underline;" href="mailto:customerservice@fcmb.com" target="_blank" rel="noopener">customerservice@fcmb.com</a></span><span style="color: #5c068c;"><span style="font-size: 10pt;"><a style="color: #622387; text-decoration: underline;" href="mailto:customerservice@fcmb.com" target="_blank" rel="noopener"><img src="http://norefresh.thesparxitsolutions.com/PIYUSH/Inhouse/spriteApp/layout6/html/images/blank.gif" width="1" height="1" /></a>.</span></span><br /> <br /> <span style="text-align: center; width: 638px; color: #666666; font-size: small; font-family: Corbel;">Copyright &copy; 2018. First City Monument Bank<br /> </span></td>-->
                <!--</tr>-->
                <!--</tbody>-->
            <!--</table>-->
        <!--</td>-->
    <!--</tr>-->
    </tbody>
</table>

</body>
</html>